<!DOCTYPE html>
<html>
<% include ./partials/header %>

    <body>
        <a href="/">
            <h1 class='animated flip'>

                <%= title %>
            </h1>
        </a>
        <h2>
            <%= data.word %>
        </h2>
        <form id="this-awesome-form" method="post">
            <div id="word-box">
                <ul>
                    <div class="each-def">
                        <li data-id=<%=data.id%>>
                            <h3> Urban Dictionary Definition One: </h3>
                            <button class="edit" type="button">save edit &#10084;</button>
                            <input class="input_item" type="text" name="urbandef1" value="<%= data.urbandef1 %>">
                            <button class="destroy" type="button">delete &#10008;</button>
                        </li>
                    </div>
        </form>

        <form id="this-awesome-form" method="post">
            <div id="word-box">
                <ul>
                    <div class="each-def">
                        <li data-id=<%=data.id%>>
                            <h3> Urban Dictionary Definition Two: </h3>
                            <button class="edit" type="button">save edit &#10084;</button>
                            <input class="input_item" type="text" name="urbandef2" value="<%= data.urbandef2 %>">
                            <button class="destroy" type="button">delete &#10008;</button>
                        </li>
                    </div>
        </form>


        <form id="this-awesome-form" method="post">
            <div id="word-box">
                <ul>
                    <div class="each-def">
                        <li data-id=<%=data.id%>>
                            <h3> Urban Dictionary Example Sentence One: </h3>
                            <button class="edit" type="button">save edit &#10084;</button>
                            <input class="input_item" type="text" name="urbandef1" value="<%= data.urbansent1 %>">
                            <button class="destroy" type="button">delete &#10008;</button>
                        </li>
                    </div>
        </form>


        <form id="this-awesome-form" method="post">
            <div id="word-box">
                <ul>
                    <div class="each-def">
                        <li data-id=<%=data.id%>>
                            <h3> Urban Dictionary Example Sentence Two: </h3>
                            <button class="edit" type="button">save edit &#10084;</button>
                            <input class="input_item" type="text" name="urbandef1" value="<%= data.urbansent2 %>">
                            <button class="destroy" type="button">delete &#10008;</button>
                        </li>
                    </div>
        </form>

        </ul>
        </div>
        <div class='video-container'>
            <video autoplay loop class='video'>
                    <source src="../images/pencil.mp4" type="video/webm" >
                    </video>
        </div>
    </body>

    <% include ./partials/scripts %>

</html>