<!DOCTYPE html>
<html>
<% include ./partials/header %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <h2>
            <%= data.word %>
        </h2>
        <div id="word-box">
            <ul>
                <h2>
                    <span class="edit">edit &#10084;</span>
                    <span class="delete">delete &#10008;</span>
                </h2>
                <li data-id=<%=data.id%>>
                    <h3> Urban Dictionary Definition One: </h3>
                    <p><input class="input_item" type="text" name="urbandef1" value="<%= data.urbandef1 %>" readonly></p>
                </li>
                <li>
                    <h3> Urban Dictionary Definition Two: </h3>
                    <p>
                        <%= data.urbandef2 %>
                    </p>
                </li>
                <li>
                    <h3> Urban Dictionary Example Sentence One: </h3>
                    <p>
                        <%= data.urbansent1 %>
                    </p>
                </li>
                <li>
                    <h3> Urban Dictionary Example Sentence Two: </h3>
                    <p>
                        <%= data.urbansent2 %>
                    </p>
                </li>
            </ul>
        </div>
        <div class='video-container'>
            <video autoplay loop class='video'>
                    <source src="../images/pencil.mp4" type="video/webm" >
                    </video>
        </div>
    </body>

    <% include ./partials/scripts %>

</html>